.App {
  text-align: center;
  margin: 1em;
}

.controls-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1em;
  justify-content: center;
}
.right-side {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.25em;
}
.button {
  font-family: monospace;
  font-weight: bold;
  font-size: 1.5em;
  border: 1px solid orange;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button:hover {
  cursor: pointer;
}

.button.pressed {
  background-color: orange;
}
